body {
  background-color: #fcd530;
}

.image {
  display: flex;
  justify-content: left;
  align-items: stretch;

  flex-grow: 1;
}

.header {
  display: flex;
  color: white;
  background-color: #ce1920;
  justify-content: center;
  align-items: center;
  height: 70px;
}
.card {
  margin: 0 auto;
  margin-top: 200px;
  height: 500px;
  width: 1000px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.75);
}

.login {
  display: flex;
  justify-content: center;
  align-content: flex-end;
  flex-grow: 1;
}
