body {
  background-color: #fcd530;
}

img {
  width: 50%;
}

.header {
  display: flex;
  color: white;
  background-color: #ce1920;
  justify-content: center;
  align-items: center;
  height: 70px;
}

.card {
  margin: auto;
  margin-top: 200px;
  padding-bottom: 0;
  height: 500px;
  width: 1000px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.75);
}

.login {
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  align-items: center;
  justify-content: center;
}
